.back-btn
{
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

.remove-btn
{
  color: gray;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover
  {
    color: red;
    text-shadow: 2px 2px 1px black;
  }
}

.round-float-btn
{
  div
  {
    position: absolute;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 20;
    width: 64px;
    height: 64px;
    color: white;
    background-color: #03A9F4;
    &:hover
    {
      background-color: #01579B
    }
    &:active
    {
      color: #EF5350;
      background-color: #512DA8;
    }
  }
}

.search-btn
{
  .round-float-btn;
  div
  {
    top: 1rem;
    left: 1rem;
    i
    {
      color: inherit !important;
      position: absolute;
      top: 16px;
      left: 19px;
    }
  }
}

.location-btn
{
  .round-float-btn;
  div
  {
    top: 7rem;
    left: 1rem;
    i
    {
      color: inherit !important;
      position: absolute;
      top: 16px;
      left: 19px;
    }
  }
}